@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.login-container {
  width: 510px;
  height: 610px;
}

.login-container-mobile {
  width: 98%;
  border-radius: 10px;
}

.science-expo {
  width: 100%;
  height: 100px;
  background-color: #846A6A;
  border-radius: 8px 8px 0 0;
}

.uta-icon,
.feria-icon {
  height: 100px;
}

.login {
  width: 100vw;
  height: 100vh;
}

.main-container {
  width: 1035px;
  height: 640px;
}

.main-container-mobile {
  width: 100vw;
  height: 100%;
}

.title-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}

.title-text-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.rut-input,
.password-input {
  width: 350px;
  font-family: 'Roboto', sans-serif;
}

.submit-btn {
  width: 160px;
  height: 50px;
}

.organize-container,
.organize {
  width: 460px;
  height: 180px;
  border-radius: 10px;

}

.organize-mobile {
  width: 100vw;
}

.date-header {
  width: 100%;
  height: 60px;
  background-color: #846A6A;
  border-radius: 10px 10px 0 0;
}

.organize,
.upcoming-dates {
  margin-left: 0.8rem;
}

.upcoming-dates {
  width: 460px;
  height: 422px;
}

.upcoming-dates-mobile {
  width: 100vw;
}

.copyright {
  height: 180px;
}

.dates-container-mobile {
  height: 98%;
  border-radius: 10px;
}

.dates-container {
  height: 100%;
  border-radius: 10px;
}

.organize-container-mobile {
  width: 98%;
  height: 100%;
  border-radius: 10px;
}