/* CALENDARIO 4 */
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  width: 400px;
  margin: 30px auto;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.calendar-mobile {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  width: 350px;
  margin: 10px auto;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.day {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
}

.day:hover {
  background-color: #eee;
}

.day.with-circle {
  border: 2px solid #ff6f61;
  background-color: #ff6f61;
  color: #fff;
  font-weight: bold;
}

.day.with-circle:hover {
  background-color: #ff5043;
}

.day.day-of-week {
  font-weight: bold;
  background-color: #f0f0f0;
}
