.navbar {
  background-color: #846A6A;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.nav-btn:hover {
  background-color: #6b5555;
  border: 2px solid #4b4949;
}

.left-container,
.center-container,
.right-container {
  max-width: 500px;
  width: 100%;
}

.center-container {
  flex-grow: 1; /* Hace que el centro crezca para ocupar el espacio restante */
}

@media (max-width: 1279px) {
  .left-container,
  .center-container,
  .right-container {
    max-width: 100%;
    width: 100px; 
  }
  .center-container {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .left-container,
  .center-container,
  .right-container {
    max-width: 100%;
    width: 10px; 
  }
  .center-container {
    margin-top: 10px;
  }
  .title {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .left-container,
  .center-container,
  .right-container {
    max-width: 100%;
    width: 10px; 
  }
  .center-container {
    margin-top: 10px;
  }
  .title {
    font-size: 13px;
  }
}

.hamburguer-menu {
  background-color: #846A6A;
  padding: 10px;
  border-radius: 10px;
}

.menu-nav-btn {
  width: 140px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
}

.menu-nav-btn:hover {
  background-color: #6b5555;
  border-bottom: 5px solid #4b4949;
  border-right: 5px solid #4b4949;
}
