* {
  outline: 1px solid limegreen;
}

.navbar {
  background-color: #846A6A;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.nav-btn:hover {
  background-color: #6b5555;
  border: 2px solid #4b4949;
}

.left-container,
.center-container,
.right-container {
  max-width: 500px;
  width: 100%;
}

.center-container {
  flex-grow: 1; /* Hace que el centro crezca para ocupar el espacio restante */
}

@media (max-width: 1150px) {
  .left-container,
  .center-container,
  .right-container {
    max-width: 100%;
    width: 100px; 
  }

  .center-container {
    margin-top: 10px;
  }
}
