.total-page-container {
  width: 100%;
  height: 84.3vh;
  padding: 10px;
  background-image: url('../../assets/fondo_login.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.total-project-container {
  width: 100%;
  height: 76.6vh;
  border-radius: 10px;
}

.total-projects-carousel-container {
  width: 100%;
}

.total-project-btn-container {
  flex: 0 0 auto;
  width: 450px;
  scroll-snap-align: center;
  height: 300px;
  border-radius: 10px;
}

.total-projects-wrapper-container {
  scroll-snap-align: center;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;/* Firefox */
  scrollbar-color: #4a5568 #cbd5e0;/* Firefox */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.total-project-title {
  height: 50px;
  background-color: #808182;
}

.total-project-img {
  width: 380px;
  height: 300px;
}

.total-projects-wrapper-container::-webkit-scrollbar {
  width: 8px;
}

.total-projects-wrapper-container::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
}

.total-projects-wrapper-container::-webkit-scrollbar-track {
  background-color: #cbd5e0;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .total-page-container {
    padding: 0;
    height: 100%;
  }

  .welcome {
    width: 100%;
    height: 40px;
    border-radius: 0;
  }

  .total-project-container {
    border-radius: 0;
    height: 100%!important;
  }

  .total-projects-carousel-container {
    width: 92%;
    height: 100%;
  }
  .total-project-title {
    height: 50px;
    width: 300px;
    margin: 0 auto;
    background-color: #808182;
  }

  .project-btn-container {
    width: 90%;
  }

  .total-project-btn-container {
    width: 91%;
  }

  .total-project-img {
    width: 100%;
  }

  .projects-wrapper-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer y Edge */
  }

  .projects-wrapper-container::-webkit-scrollbar {
    display: none;
    /* WebKit (Chrome, Safari) */
  }
}
