.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 700px;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal_header-title {
  font-size: 1.5rem;
  color: #333;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
}

.modal_content {
  font-size: 1rem;
  color: #333;
}

.modal_footer {
  margin-top: 20px;
}

.modal-close {
  background-color: #846A6A;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-close:hover {
  background-color: #6b5555;
}
